@import 'config.less';


.page {
  display: none;
  flex-direction: column;
  //max-width: 800px;
  flex: 1;
  height: 100%;
  width: inherit;

  &__container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }

  &--is-visible {
    display: flex;
  }

  &__loading {
    min-height: 100%;
    justify-content: center;
    text-align: center;
    align-items: stretch;
    background: @color-light-green;
    width: 100%;
  }

  &__game {
  }

  &__introduction {
    background: url('../images/background_start.png') 0 0 no-repeat;
    overflow: auto;
    position: relative;
    height: 1521px;
    width: 856px;
    transform-origin: top left;

    @media (orientation: portrait) {
      /* Styles for when the height is larger than the width */
      scale: calc(var(--screen-width) / 856);
    }
  }

  &__finished {
    align-items: center;
    background: @color-light-green;
    overflow: auto;
  }
}